name: pytest

on:
  push:
    branches: ["feat_tests", "main", "master"]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: etc/environment.yml
          create-args: >-
            python=${{ matrix.python-version }}
          cache-environment: true
      - name: Run pytest
        shell: bash -l {0}
        run: pytest
